@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <form asp-action="Index" method="post">
        <div>Hash eksempel fra undervisningen</div>
        @*        <div>
            <input type="text" name="myUsername" style="width: 200px;" />
            </div>*@
        <div>
            <input type="text" name="myPassword" style="width: 200px;" />
        </div>
        <div>
            <input type="submit" style="height: 50px; width: 200px;" />
        </div>
    </form>

    @if (Model != null)
    {
        <h1 class="display-4">@Model.OriginalText</h1>
        <h1 class="display-4">@Model.HashedValueAsString</h1>
       @* <h1 class="display-4">@Model.Username</h1>*@
    }

    <hr style="background-color: black" />
    <div>Crypt eksempel fra undervisningen</div>

    <form asp-action="Index" method="post">
        @*        <div>
            <input type="text" name="myUsername" style="width: 200px;" />
            </div>*@
        <div>
            <input type="text" name="myEncryption" style="width: 200px;" />
        </div>
        <div>
            <input type="submit" style="height: 50px; width: 200px;" />
        </div>
    </form>

        @if (Model != null)
    {
        <h1 class="display-4">@Model.OriginalEncryptionText</h1>
        <h1 class="display-4">@Model.EncryptedValueAsString</h1>
    }
</div>

<div>
</div>
